.elements {
  padding: 20px;
  background: #eee;
}
.elem {
  padding: 20px;
  margin: 0 0 20px;
  .border-radius(20px);
  .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  &.w {
    background: #fff;
  }
  &.b {
    background: #182024;
  }
  &.g {
    background: #e6e6e6;
  }
  &:last-child {margin-bottom: 0;}
}