/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.elements {
  padding: 20px;
  background: #eee;
}
.elem {
  padding: 20px;
  margin: 0 0 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.elem.w {
  background: #fff;
}
.elem.b {
  background: #182024;
}
.elem.g {
  background: #e6e6e6;
}
.elem:last-child {
  margin-bottom: 0;
}
/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;
}
/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: #0089ec;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
/**
 * Make the holder and frame fullscreen.
 */
.picker__holder,
.picker__frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}
/**
 * The holder should overlay the entire screen.
 */
.picker__holder {
  position: fixed;
  -webkit-transition: background 0.15s ease-out, top 0s 0.15s;
  -moz-transition: background 0.15s ease-out, top 0s 0.15s;
  transition: background 0.15s ease-out, top 0s 0.15s;
}
/**
 * The frame that bounds the box contents of the picker.
 */
.picker__frame {
  position: absolute;
  margin: 0 auto;
  min-width: 256px;
  max-width: 666px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
@media (min-height: 33.875em) {
  .picker__frame {
    overflow: visible;
    top: auto;
    bottom: -100%;
    max-height: 80%;
  }
}
@media (min-height: 40.125em) {
  .picker__frame {
    margin-bottom: 7.5%;
  }
}
/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.picker__wrap {
  display: table;
  width: 100%;
  height: 100%;
}
@media (min-height: 33.875em) {
  .picker__wrap {
    display: block;
  }
}
/**
 * The box contains all the picker contents.
 */
.picker__box {
  background: #ffffff;
  display: table-cell;
  vertical-align: middle;
}
@media (min-height: 26.5em) {
  .picker__box {
    font-size: 1.25em;
  }
}
@media (min-height: 33.875em) {
  .picker__box {
    display: block;
    font-size: 1.33em;
    border: 1px solid #777777;
    border-top-color: #898989;
    border-bottom-width: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  }
}
@media (min-height: 40.125em) {
  .picker__box {
    font-size: 1.5em;
    border-bottom-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  top: 0;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
  zoom: 1;
  background: rgba(0, 0, 0, 0.32);
  -webkit-transition: background 0.15s ease-out;
  -moz-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
}
.picker--opened .picker__frame {
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
@media (min-height: 33.875em) {
  .picker--opened .picker__frame {
    top: auto;
    bottom: 0;
  }
}
/**
 * For `large` screens, transform into an inline picker.
 */
/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.picker__box {
  padding: 0 1em;
}
/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}
.picker__year {
  color: #999999;
  font-size: .8em;
  font-style: italic;
}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .5em .25em;
  margin-left: .25em;
  margin-right: .25em;
  font-size: .6em;
}
@media (min-width: 24.5em) {
  .picker__select--month,
  .picker__select--year {
    font-size: .8em;
    margin-top: -0.5em;
  }
}
.picker__select--month {
  width: 35%;
}
.picker__select--year {
  width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  padding: .5em 1.25em;
  width: 1em;
  height: 1em;
  top: -0.25em;
}
@media (min-width: 24.5em) {
  .picker__nav--prev,
  .picker__nav--next {
    top: -0.33em;
  }
}
.picker__nav--prev {
  left: -1em;
  padding-right: 1.25em;
}
@media (min-width: 24.5em) {
  .picker__nav--prev {
    padding-right: 1.5em;
  }
}
.picker__nav--next {
  right: -1em;
  padding-left: 1.25em;
}
@media (min-width: 24.5em) {
  .picker__nav--next {
    padding-left: 1.5em;
  }
}
.picker__nav--prev:before,
.picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: 0.75em solid #000000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #000000;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5;
}
/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em;
}
@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom: .75em;
  }
}
.picker__table td {
  margin: 0;
  padding: 0;
}
/**
 * The weekday labels
 */
.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999999;
  font-weight: 500;
  /* Increase the spacing a tad */

}
@media (min-height: 33.875em) {
  .picker__weekday {
    padding-bottom: .5em;
  }
}
/**
 * The days on the calendar
 */
.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent;
}
.picker__day--today {
  color: #0089ec;
  position: relative;
}
.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 0.5em solid #0059bc;
  border-left: .5em solid transparent;
}
.picker__day--selected,
.picker__day--selected:hover {
  border-color: #0089ec;
}
.picker__day--highlighted {
  background: #b1dcfb;
}
.picker__day--disabled:before {
  border-top-color: #aaaaaa;
}
.picker__day--outfocus {
  color: #dddddd;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background: #0089ec;
  color: #ffffff;
}
.picker__day--disabled,
.picker__day--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb;
}
/**
 * The footer containing the "today" and "clear" buttons.
 */
.picker__footer {
  text-align: center;
}
.picker__button--today,
.picker__button--clear {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
}
.picker__button--today:hover,
.picker__button--clear:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb;
}
.picker__button--today:focus,
.picker__button--clear:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: none;
}
.picker__button--today:before,
.picker__button--clear:before {
  position: relative;
  display: inline-block;
  height: 0;
}
.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid #0059bc;
  border-left: .66em solid transparent;
}
.picker__button--clear:before {
  content: "\D7";
  margin-right: .35em;
  top: -0.1em;
  color: #ee2200;
  vertical-align: top;
  font-size: 1.1em;
}
/* ==========================================================================
   $DEFAULT-DATE-PICKER
   ========================================================================== */
/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.picker__list {
  list-style: none;
  padding: 0.75em 0 4.2em;
  margin: 0;
}
/**
 * The times on the clock.
 */
.picker__list-item {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: -1px;
  position: relative;
  background: #ffffff;
  padding: .75em 1.25em;
}
@media (min-height: 46.75em) {
  .picker__list-item {
    padding: .5em 1em;
  }
}
/* Hovered time */
.picker__list-item:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-color: #0089ec;
  z-index: 10;
}
/* Selected time */
.picker__list-item--selected,
.picker__list-item--selected:hover {
  border-color: #0089ec;
  z-index: 10;
}
/* Highlighted time */
.picker__list-item--highlighted {
  background: #b1dcfb;
}
/* Highlighted and hovered/focused time */
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  background: #0089ec;
  color: #ffffff;
}
/* Disabled time */
.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto;
}
/**
 * The clear button
 */
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  margin: 1em auto 0;
  padding: 1em 1.25em;
  background: none;
  border: 0;
  font-weight: 500;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
  color: #000000;
  background: #b1dcfb;
  background: #ee2200;
  border-color: #ee2200;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}
.picker--time .picker__button--clear:before {
  top: -0.25em;
  color: #666;
  font-size: 1.25em;
  font-weight: bold;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
  color: #ffffff;
}
/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/**
 * The frame the bounds the time picker.
 */
.picker--time .picker__frame {
  min-width: 256px;
  max-width: 320px;
}
/**
 * The picker box.
 */
.picker--time .picker__box {
  font-size: 1em;
  background: #f2f2f2;
  padding: 0;
}
@media (min-height: 40.125em) {
  .picker--time .picker__box {
    margin-bottom: 5em;
  }
}
/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'Open Sans'

  'b_' - block
  'm_' - modificator

  <720 - remove b_filter, 2 col
  220 >600&< - 

*/
.b_logo {
  margin: 0 0 0 42px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #52595e;
}
.b_logo a {
  display: block;
  margin: 0 0 19px 8px;
}
.b_menu {
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  margin: 0 0 0 20px;
}
.b_menu a {
  color: #18af90;
  text-decoration: none;
  display: block;
}
.b_menu li {
  padding: 0 0 0 20px;
}
.b_menu li.active {
  background: #e6e6e6;
  border-left: 5px solid #18af90;
  padding: 0 0 0 15px;
}
.b_menu li.active a {
  color: #182024;
}
.b_menu li.gray a {
  color: #4c5358;
}
.b_menu li:hover:not(.active) {
  background: #263137;
  padding: 0 0 0 15px;
  border-left: 5px solid #344148;
}
.b_menu hr {
  border: none;
  margin: 0;
  padding: 0;
  height: 20px;
}
.b_menu i {
  color: #fff;
  background: #f5a241;
  line-height: 20px;
  height: 20px;
  display: block;
  float: right;
  margin: 10px 22px 0 0;
  padding: 0 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.b_contacts {
  font-size: 12px;
  padding: 0 0 0 40px;
  color: #fff;
}
.b_contacts label {
  font-size: 14px;
  text-transform: uppercase;
  color: #4c5358;
  margin: 0 0 18px;
  display: block;
}
.b_contacts p {
  margin: 0 0 15px;
}
.b_contacts p.copyright {
  color: #454a4e;
  margin: 51px 0 0 0;
}
.b_contacts a {
  color: #fff;
  text-decoration: none;
}
.b_login {
  border-bottom: 2px solid #e6e6e6;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.b_login a.partner {
  color: #f5a241;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.b_login a.partner img {
  float: left;
  margin: 9px 5px 0 0;
}
.b_login .b_user_panel {
  float: right;
  font-size: 12px;
  margin: 0 0 0 20px;
}
.b_login .b_user_panel .user {
  float: left;
  color: #171f22;
  margin: 0 25px 0 0;
}
.b_login .b_user_panel .user a {
  color: #171f22;
  text-transform: uppercase;
  font-weight: bold;
}
.b_login .b_user_panel .user img {
  float: right;
  margin: 3px 0 0 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
}
.b_login .b_user_panel a.logout {
  color: #b5b5b5;
  text-decoration: none;
}
.b_login .b_user_login {
  margin: 0 0 0 20px;
  float: right;
  color: #182024;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.b_login .b_user_login a {
  color: #182024;
  text-decoration: none;
}
.b_radio {
  font-size: 13px;
  color: #182024;
  line-height: 38px;
  overflow: hidden;
  display: table;
  width: 100%;
}
.b_radio .wrap {
  display: table-row;
}
.b_radio label {
  cursor: pointer;
  text-align: center;
  display: table-cell;
  border: 1px solid #e6e6e6;
}
.b_radio label:not(:first-child) {
  border-left: none;
}
.b_radio label:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.b_radio label:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.b_radio label.active {
  border-color: #18af90;
  background: #18af90;
  color: #fff;
}
.b_radio label:hover:not(.active) {
  background: #f8f8f8;
}
.b_radio input[type="radio"] {
  display: none;
}
.b_radio.m_dates {
  line-height: 17px;
}
.b_radio.m_dates label {
  font-size: 11px;
  text-align: center;
  padding: 0;
}
.b_radio.m_dates label span {
  font-size: 18px;
  display: block;
  padding: 4px 0 0;
}
.b_select_box {
  font-size: 13px;
  border: 1px solid #e6e6e6;
  line-height: 38px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block !important;
  background: #ffffff url(i/arrow.png) center right no-repeat;
  padding: 0 13px;
}
.b_select_box.b_select_boxHover {
  background: #f8f8f8 url(i/arrow.png) center right no-repeat;
}
.b_select_box.b_select_boxOpen {
  color: #fff;
  border-color: #18af90;
  background: #18af90 url(i/arrow_w.png) center right no-repeat;
}
.b_input_with_label label.label {
  font-size: 11px;
  color: #182024;
  display: block;
  margin: 0 0 6px;
  text-transform: uppercase;
}
.b_input_with_label label.c {
  color: #18af90;
}
.b_input_with_label .input {
  height: 40px;
}
.b_range_slider {
  position: relative;
  padding: 7px 0 0;
}
.b_range_slider span.minmax {
  color: #c1c1c1;
  font-size: 12px;
  position: absolute;
  top: -4px;
  z-index: 40;
  left: 0;
}
.b_range_slider span.minmax.max {
  left: auto;
  right: 0;
}
.b_range_slider .output {
  font-size: 11px;
  font-weight: bold;
  color: #182024;
}
.b_range_slider .output i {
  color: #737373;
  font-weight: normal;
}
.b_range_slider .slider {
  margin: 0 !important;
}
.b_range_slider .slider > .dragger {
  width: 20px;
  height: 19px;
  margin: 0 auto;
  background: url(i/track.png) no-repeat;
  position: relative;
  z-index: 60;
}
.b_range_slider .slider > .track,
.b_range_slider .slider > .highlight-track {
  height: 5px;
  background: #18af90;
  border-radius: 5px;
}
.b_range_slider .slider > .highlight-track {
  background: #0c6c63;
}
.b_input {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans';
  padding: 7px 15px;
  height: 40px;
}
.b_input.m_datepicker {
  background: url(i/calend.png) no-repeat center right;
}
.b_clear_form {
  font-size: 11px;
  padding: 5px 0 0 0;
  text-align: center;
}
.b_clear_form a {
  color: #b4b4b4;
  text-decoration: none;
}
.b_filter .line {
  clear: both;
  margin-top: 20px;
}
.b_filter .line:first-child {
  margin-top: 0;
}
.b_filter .c80,
.b_filter .c120,
.b_filter .c160,
.b_filter .c220,
.b_filter .c320 {
  float: left;
  margin-left: 2.7027027027027026%;
}
.b_filter .c80:first-child,
.b_filter .c120:first-child,
.b_filter .c160:first-child,
.b_filter .c220:first-child,
.b_filter .c320:first-child {
  margin-left: 0;
}
.b_filter .c80 {
  width: 10.81081081081081%;
}
.b_filter .c120 {
  width: 16.216216216216218%;
}
.b_filter .c160 {
  width: 21.62162162162162%;
}
.b_filter .c220 {
  width: 29.72972972972973%;
}
.b_filter .c320 {
  width: 43.24324324324324%;
}
.b_tour {
  position: relative;
  height: 260px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.b_tour .sale {
  position: absolute;
  z-index: 50;
  top: 10px;
  right: 10px;
  font-size: 11px;
  background: #182024;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 20px;
  line-height: 20px;
  padding: 0px 10px;
}
.b_tour a.link,
.b_tour .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
.b_tour a.link {
  z-index: 100;
}
.b_tour .data {
  position: absolute;
  z-index: 60;
  bottom: 0;
  left: 0;
  width: 100%;
}
.b_tour .data .line {
  background: #fff;
  padding: 8px 10px;
}
.b_tour .data .line.gray {
  background: #f8f7f5;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.b_tour .data .name {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
}
.b_tour .data .economy {
  color: #737373;
  font-size: 11px;
}
.b_tour .data .price {
  font-size: 30px;
  color: #18af90;
  font-weight: 600;
  padding: 0 0 5px;
}
.b_tour .data .count {
  float: left;
  font-size: 11px;
}
.b_tour .data .timer {
  float: right;
  font-size: 18px;
}
.b_tour .data .timer img {
  float: left;
  margin: 12px 8px 0 0;
}
.b_tour:hover .data {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}
.b_tour:hover .sale {
  color: #182024;
  background: #fff;
}
.b_tour:hover .line {
  background: none !important;
  color: #fff;
}
.b_tour:hover .line .economy {
  color: #fff;
}
.b_tours {
  margin: 0 auto;
}
.b_tours .b_tour {
  margin: 10px 5px;
  width: 240px;
  float: left;
}
.b_white {
  background: #fff;
  padding: 0 20px;
}
.b_white.m_login {
  padding: 0 20px 18px;
}
.b_white.m_filter {
  padding: 0 20px 20px;
}
body {
  font: 12px/1.3 'Open Sans';
  background: #e6e6e6;
}
body aside {
  float: left;
  width: 220px;
  min-height: 100%;
  z-index: 2000;
  background: #182024;
  padding: 20px 0 0;
}
body aside .b_logo {
  margin-bottom: 27px;
}
body aside .b_menu {
  margin-bottom: 30px;
}
body aside .b_contacts {
  padding-bottom: 20px;
}
body .wrapper {
  margin: 0 0 0 220px;
  overflow: hidden;
}
body .wrapper.m_login {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  width: 100%;
}
body .wrapper.m_login .b_white.m_login {
  margin: 0 0 0 220px;
}
body .wrapper.m_filter {
  position: fixed;
  top: 60px;
  left: 0;
  margin: 0;
  z-index: 1000;
  width: 100%;
}
body .wrapper.m_filter .b_white.m_filter {
  margin: 0 0 0 220px;
}
body .wrapper .fix_height {
  height: 200px;
}
