@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";
@import "less/elems.less";
@import "less/picker.less";
@import "less/picker.date.less";
@import "less/picker.time.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'Open Sans'

  'b_' - block
  'm_' - modificator

  <720 - remove b_filter, 2 col
  220 >600&< - 

*/

.b_logo {
  margin: 0 0 0 42px;
  a {
    display: block;
    margin: 0 0 19px 8px;
  }
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #52595e;
}

.b_menu {
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  margin: 0 0 0 20px;
  ul {
    
  }
  a {
    color: #18af90;
    text-decoration: none;
    display: block;
  }
  li {
    padding: 0 0 0 20px;
    &.active {
      background: #e6e6e6;
      border-left: 5px solid #18af90;
      padding: 0 0 0 15px;
      a {
        color: #182024;
      }
    }
    &.gray {
      a {
        color: #4c5358;
      }
    }
    &:hover:not(.active) {
      background: #263137;
      padding: 0 0 0 15px;
      border-left: 5px solid #344148;
    }
  }
  hr {
    border: none;
    margin: 0;
    padding: 0;
    height: 20px;
  }
  i {
    color: #fff;
    background: #f5a241;
    line-height: 20px;
    height: 20px;
    display: block;
    float: right;
    margin: 10px 22px 0 0;
    padding: 0 6px;
    .border-radius(10px);
  }
}

.b_contacts {
  font-size: 12px;
  padding: 0 0 0 40px;
  color: #fff;
  label {
    font-size: 14px;
    text-transform: uppercase;
    color: #4c5358;
    margin: 0 0 18px;
    display: block;
  }
  p {
    margin: 0 0 15px;
  }
  p.copyright {
    color: #454a4e;
    margin: 51px 0 0 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

.b_login {
  border-bottom: 2px solid #e6e6e6;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  a.partner {
    color: #f5a241;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    img {float: left;margin: 9px 5px 0 0;}
  }
  .b_user_panel {
    float: right;
    font-size: 12px;
    margin: 0 0 0 20px;
    .user {
      float: left;
      color: #171f22;
      margin: 0 25px 0 0;
      a {color: #171f22;text-transform: uppercase;font-weight: bold;}
      img {float: right;margin: 3px 0 0 10px;.border-radius(30px);height: 30px;width: 30px;}
    }
    a.logout {
      color: #b5b5b5;
      text-decoration: none;
    }
  }
  .b_user_login {
    margin: 0 0 0 20px;
    float: right;
    color: #182024;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    a {color: #182024;text-decoration: none;}
  }
}

.b_radio {
  font-size: 13px;
  color: #182024;
  line-height: 38px;
  overflow: hidden;
  display: table;
  //table-layout: fixed;
  width: 100%;
  .wrap {
    display: table-row;
  }
  label {
    cursor: pointer;
    text-align: center;
    display: table-cell;
    border: 1px solid #e6e6e6;
    &:not(:first-child) {border-left: none;}
    &:first-child {.border-radius(5px 0 0 5px);}
    &:last-child {.border-radius(0 5px 5px 0);}
    &.active {border-color: #18af90;background: #18af90;color: #fff;}
    &:hover:not(.active) {background: #f8f8f8;}
  }
  input[type="radio"] {display: none;}
  &.m_dates {
    line-height: 17px;
    label {
      font-size: 11px;
      text-align: center;
      padding: 0;
      span {
        font-size: 18px;
        display: block;
        padding: 4px 0 0;
      }
    }
  }
}

.b_select_box {
  font-size: 13px;
  border: 1px solid #e6e6e6;
  line-height: 38px;
  .border-radius(5px);
  display: block !important;
  background: #fff url(i/arrow.png) center right no-repeat;
  padding: 0 13px;
  &.b_select_boxHover {
    background: #f8f8f8 url(i/arrow.png) center right no-repeat;
  }
  &.b_select_boxOpen {
    color: #fff;
    border-color: #18af90;
    background: #18af90 url(i/arrow_w.png) center right no-repeat;
  }
}

.b_input_with_label {
  label.label {font-size: 11px;color: #182024;display: block;margin: 0 0 6px;text-transform: uppercase;}
  label.c {color: #18af90;}
  .input {height: 40px;}
}

.b_range_slider {
  position: relative;
  padding: 7px 0 0;
  span.minmax {
    color: #c1c1c1;
    font-size: 12px;
    position: absolute;
    top: -4px;
    z-index: 40;
    left: 0;
    &.max {
      left: auto;
      right: 0;
    }
  }
  .output {
    font-size: 11px;
    font-weight: bold;
    color: #182024;
    i {
      color: #737373;
      font-weight: normal;
    }
  }
  .slider {
    margin: 0 !important;
    &> .dragger {
      width: 20px;
      height: 19px;
      margin: 0 auto;
      background: url(i/track.png) no-repeat;
      position: relative;
      z-index: 60;
    }
    &> .track, &> .highlight-track {
      height: 5px;
      background: #18af90;
      border-radius: 5px;
    }
    &> .highlight-track {
      background: #0c6c63;
    }
  }
}

.b_input {
  border: 1px solid #e6e6e6;
  .border-radius(5px);
  font-size: 13px;
  width: 100%;
  .box-sizing(border-box);
  font-family: 'Open Sans';
  padding: 7px 15px;
  height: 40px;
  &.m_datepicker {
    background: url(i/calend.png) no-repeat center right;
  }
}

.b_clear_form {
  font-size: 11px;
  padding: 5px 0 0 0;
  text-align: center;
  a {color: #b4b4b4;text-decoration: none;}
}

.b_filter {
  .line {
    clear: both;
    margin-top: 20px;
    &:first-child {margin-top: 0;}
  }
  .c80, .c120, .c160, .c220, .c320 {
    float: left;
    margin-left: 20/740*100%;
    &:first-child {margin-left: 0;}
  }
  .c80  {width: 80/740*100%;}
  .c120 {width: 120/740*100%;}
  .c160 {width: 160/740*100%;}
  .c220 {width: 220/740*100%;}
  .c320 {width: 320/740*100%;}
}

.b_tour {
  position: relative;
  height: 260px;
  .border-radius(6px);
  overflow: hidden;
  .box-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  .sale {
    position: absolute;
    z-index: 50;
    top: 10px;
    right: 10px;
    font-size: 11px;
    background: #182024;
    color: #fff;
    .border-radius(5px);
    height: 20px;
    line-height: 20px;
    padding: 0px 10px;
  }
  a.link, .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    -webkit-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
  }
  a.link {
    z-index: 100;
  }
  .data {
    position: absolute;
    z-index: 60;
    bottom: 0;
    left: 0;
    width: 100%;
    .line {
      background: #fff;
      padding: 8px 10px;
      &.gray {background: #f8f7f5;height: 40px;line-height: 40px;padding: 0 10px;}
    }
    .name {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      height: 50px;
    }
    .economy {
      color: #737373;
      font-size: 11px;
    }
    .price {
      font-size: 30px;
      color: #18af90;
      font-weight: 600;
      padding: 0 0 5px;
    }
    .count {
      float: left;
      font-size: 11px;
    }
    .timer {
      float: right;
      font-size: 18px;
      img {float: left;margin: 12px 8px 0 0;}
    }
  }
  &:hover {
    .data {
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      
    }
    .sale {
      color: #182024;
      background: #fff;
    }
    .line {
      background: none !important;
      color: #fff;
      .economy {color: #fff;}
    }
  }
}

.b_tours {
  margin: 0 auto;
  .b_tour {
    margin: 10px 5px;
    width: 240px;
    float: left;
  }
}

.b_white {
  background: #fff;
  padding: 0 20px;
  &.m_login {padding: 0 20px 18px;}
  &.m_filter {padding: 0 20px 20px;}
}

body {
  font: 12px/1.3 'Open Sans';
  background: #e6e6e6;
  aside {
    float: left;
    width: 220px;
    min-height: 100%;
    z-index: 2000;
    background: #182024;
    padding: 20px 0 0;
    .b_logo {
      margin-bottom:27px;
    }
    .b_menu {
      margin-bottom: 30px;
    }
    .b_contacts {
      padding-bottom: 20px;
    }
  }
  .wrapper {
    margin: 0 0 0 220px;
    overflow: hidden;
    //.b_login {margin: 0 0 18px;}
    &.m_login {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 1000;
      width: 100%;
      .b_white.m_login {margin: 0 0 0 220px;}
    }
    &.m_filter {
      position: fixed;
      top: 60px;
      left: 0;
      margin: 0;
      z-index: 1000;
      width: 100%;
      .b_white.m_filter {margin: 0 0 0 220px;}
    }
    .fix_height {
      height: 200px;
    }
  }
}


