.b_tours {
  width: 1250px;
}

.wrapper.m_tours {
  margin: 0 300px 0 220px;
}

body .wrapper.m_filter {
  position: fixed;
  top: 60px;
  right: 0;
  left: auto;
  width: 300px;
  height: 100%;
}

body .wrapper .fix_height {
  height: 60px;
}

body .wrapper.m_filter .b_white.m_filter {
  margin: 0;
}

.wrapper.m_filter .b_filter,
.wrapper.m_filter .b_white {
  height: 100%;
}

.wrapper.m_filter .c80, 
.wrapper.m_filter .c120, 
.wrapper.m_filter .c160, 
.wrapper.m_filter .c220, 
.wrapper.m_filter .c320 {
  margin: 0 0 20px !important;
  width: 100% !important;
}
.wrapper.m_filter .line {
  margin: 0;
}